body{
    min-height: 60rem;
    width: 100%;
    padding-top: 90px;
    /*!*padding-bottom: 80px;*!*/
    /*background-image: url("@/assets/background3.jpg") ;*/
    /*background-position: center; !* Center the image *!*/
    /*background-repeat: no-repeat; !* Do not repeat the image *!*/
    /*background-size: cover;*/
}

.el-button-group{
    display: none;
}
.el-date-editor .el-range-separator{
    margin-right: 10px;
}
.custom-control-label{
    margin-left: 20px;
}
.el-icon-s-comment{
    color: #a843a8;
}
.el-tooltip__popper.is-light{
    background: none !important;
    border: none !important;
}
.note-wrapper{
    width: fit-content;
    height: fit-content;
    background-color: #F4F4F4;
    padding: 15px;
    box-sizing: content-box;
    border-radius: 10px;

}
.el-calendar-day{
    padding: 0 !important;
}
.el-calendar-table td{
    border-bottom: none !important;
    border-right:none !important; ;
}
